$gold: #d3bb89;
$gold_button: #c19a49;
$white: #fef8eb;
$black:#202020;

@import url('https://fonts.googleapis.com/css?family=Open+Sans'); //serif
@import url('https://fonts.googleapis.com/css?family=EB+Garamond'); //sans-serif
@font-face{
  font-family: 'GoT';
  src: url('../fonts/GameofThrones.ttf');
}
* {
  box-sizing: border-box;
  margin: 0px;
  outline: none;
}
button {
  cursor: pointer;
}
.wrapper {
  height: 100vh;
  position: relative; 
  font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  max-width: 1960px;
  margin: 0 auto;
  padding: 0;
}  
.section {
  height: 100vh;
  display: flex;
  &__image {
    background: url('../img/maxresdefault.jpg') center center;
    width: 50%;
    background-size: cover;
  }
  &__form {
    background: url('../img/darknoise.png');
    width: 50%;
    .form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      width: 80%;
      margin: 0 auto;
      &__headline {
        font-family: Got, "Open Sans", Georgia, 'Times New Roman', Times, serif;
        color: $gold;
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        font-size: 30px;
        margin-bottom: 10%;
      }
      &__label {
        color: $gold;
        font-family: "EB Garamond", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;
        margin-top: 6%;
      }
      &__input {
        border: none;
        border-bottom: 1px solid $gold;
        background-color: transparent;
        color: $gold;
        font-size: 20px;
        padding-bottom: 5%;
        margin-top: 5%;
        &::placeholder {
          color: grey;
        }
        &-textarea {
          resize: none;
          font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
        }
      }
      &__ask {
        color: $white;
        font-size: 12px;
      }
      &__button {
        background-color: $gold_button;
        border: none;
        color: $white;
        padding: 16px 0px;
        margin-top: 7%;
        font-size: 18px;
        &:hover {
          background-color: darken($gold, 20%);
        }
        &:active {
          transform: translateY(1px);
          background-color: darken($gold, 20%);
        }
      }
      &__ok {
        color: $white;
        border-left: 1px solid $gold;
        padding-left: 10px;
      }
      &__select {
        position: relative;
        display: block;
        width: 20em;
        line-height: 1.5;
        background: transparent;
        overflow: hidden;
        width: 100%;
        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          box-shadow: none;
          border: 0 !important;
          background: transparent none;
          font-size: 18px;
          padding: 6px 0px;
          width: 100%;
          height: 100%;
          margin: 0;
          color: #fff;
          cursor: pointer;
          .option {
            background: $gold_button;
            padding: 0px;
          }
        }
      }
    }
  }
}
.check {
  padding-left: 1.2em;
  color: $gold;
  &__input {
    position: absolute;
    -webkit-appearance: none;
		-moz-appearance: none;
  }
  &__box {
    position: absolute;
    margin-left: -1.5em;
    width: 1em;
    height: 1em;
    overflow: hidden;
    background-color: $gold;
  }
  &__option {
    display: flex;
    align-items: center;
    padding-left: 2em;
    margin-top: 10px;
  }
}
.check__input:checked + .check__box {
  background-color: $gold;
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.check__input:focus + .check__box {
  box-shadow: 0 0 0 2px darken($gold, 20%);
}
.display-none{
  display: none !important;
}
.validation{
  &:invalid{
    border-bottom: 1px solid red;
  }
}
.error{
  border-bottom: 1px solid red !important;
}
